<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ParkingReservationSystem.Properties.Settings.ParkingReservationSystemConnectionString"
            connectionString="Data Source=DESKTOP-NL6VJQB;Initial Catalog=ParkingReservationSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>